.App {
  margin: 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  background: pink;
}

.heading {
  margin: 0;
  margin-right: 50px;
  width: 25%;
  padding: 30px;
  align-items: center;
  background: white;
}

.input {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  padding: 10px;
  width: 8em;
}
.equalto {
  margin: 10px;
}
.option {
  padding: 5px;
}
